### Install `{{{ name }}}`?

**Version** `{{{ version }}}`<br/>
**Repository** {{{ repository }}}<br/>
**Size** `{{{ size }}}`<br/>
**Released** `{{{ released }}}`<br/>

---
<br/>

**Install** places `{{{ name }}}` in the extension storage.<br/>
**Install System-Wide** copies it to `{{{ systemStorage }}}` and may require admin privilege.<br/>
